@font-face {
    src: url(OCRAEXT.TTF);
    font-family: ocr;

  }
  body {
      background-image: url("img/aboutbg.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 150px;
  }
  .p1 {
    font-size: 1.8em;
    font-family: ocr; 
    color: #eeeeee;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.p2 {
    font-size: 1.8em;
    font-family: ocr; 
    color: #eeeeee;
    margin-top: 30px;
    margin-left: 260px;
    margin-right: 260px;
}

.p3 {
    font-size: 1.8em;
    font-family: ocr; 
    color: #eeeeee;
    margin-top: 30px;
    margin-left: 260px;
    margin-right: 260px;
}
a{
    text-decoration: none;
    color: blanchedalmond;
}

h3{
    font-size: 1.8em;
    font-family: ocr; 
    color: #eeeeee;
    margin-top: 30px;
    margin-left: 460px;
    margin-right: 60px;
}



  .home{font-size: 1em;
    font-family: ocr; 
    font-size: 19px;
    color: #eeeeee;
    border:0;
    margin-left: 30px;
    position: relative;
    top: 10px;
    text-decoration: none;
  }
img{
    width: 100px;
    padding: 15px;
    
}   
div {
    margin-left: 420px;
    margin-top: 0px;
}
.tinder{
    width: 100px;
    position: absolute;
    left: 660px;
    bottom: -10px;
}
h4{
    font-size: 1.5em;
    font-family: ocr; 
    color: #eeeeee;
    position: absolute;
    left: 500px;
    margin-top: 20px;
    
}