@font-face {
    src: url(OCRAEXT.TTF);
    font-family: ocr;
  }
  body {
      background-image: url("img/projbg.png");
      background-repeat: no-repeat;
      background-size: cover;
  }
  .cap{
      width: 290px;
      position: absolute;
      top: 310px;
      left: 538px;
      opacity: 0;
      transition: .4s ease;
  }
  .cap:hover {
      opacity: 1;
      transition: .4s ease;
  }
  .a1 {
    display:inline-block;
    width: 120px;
    height:60px;
    position: absolute;
    left: 625px;
    top: 593px;
    background-color: transparent;
   

}

.p1 {
    text-align: center;
    font-size: 40px;
   opacity: 1;
   font-family: ocr;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10px;
    background-color: transparent;
    color: #eeeeee70;
    font-family: ocr;
  }
  a:link,
a:visited {
 
  text-decoration:none;
  color:#eeeeee70;
}



a:hover,
a:focus,
a:active {
  border:0;
  color:#fff;
  
}

a:visited:hover,
a:visited:focus,
a:visited:active {
  color:#fff;
  
}

.space {
    width: 300px;
    position: absolute;
    top: 210px;
    left: 70px;
    filter: grayscale(100%);
    border: 8px solid black;
}
.bolt{
    width: 300px;
    position: absolute;
    top: 210px;
    right: 70px;
    filter: grayscale(100%);
    border: 8px solid black;
}
.river{
    width: 250px;
    position: absolute;
    top: 440px;
    left: 140px;
    filter: grayscale(100%);
    border: 8px solid black;
}
.break{
    width: 250px;
    position: absolute;
    top: 432px;
    right: 140px;
    filter: grayscale(100%);
    border: 8px solid black;
}
.era {
    width: 300px;
    position: absolute;
    top: 160px;
    left: 525px;
    filter: grayscale(100%);
    border: 8px solid black;
}
 .space:hover {
    filter: grayscale(0%);
    transition: .5s ease;
}
.era:hover {
    filter: grayscale(0%);
    transition: .5s ease;
}
.break:hover {
    filter: grayscale(0%);
    transition: .5s ease;
}
.river:hover {
    filter: grayscale(0%);
    transition: .5s ease;
}
.bolt:hover {
    filter: grayscale(0%);
    transition: .5s ease;
}
.contact{font-size: 1em;
    font-family: ocr; 
    font-size: 19px;
    color: #eeeeee;
    border:0;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 1140px;
  }
