@font-face {
    src: url(OCRAEXT.TTF);
    font-family: ocr;
  }
  body {
      background-image: url("img/aboutbg.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 150px;
  }