@font-face {
    src: url(OCRAEXT.TTF);
    font-family: ocr;
}
body {
    background-image: url("nuj.png");
    background-repeat: no-repeat;
    background-size: cover;
}
 p{
     font-family: ocr;
 }
.a1 {
    display:inline-block;
    width: 300px;
    height:300px;
    position: absolute;
    left: 130px;
    top: 240px;
    background-color: transparent;
   

}

.p1 {
    text-align: center;
   padding-top: 40%;
    font-size: 60px;
   opacity: 0;
}

.p1:hover {
    opacity: 1;
}

.a2 {
    display:inline-block;
    width: 300px;
    height:300px;
    position: absolute;
    left: 530px;
    top: 240px;
    background-color: transparent;
    

}
.p2 {
    text-align: center;
   padding-top: 40%;
    font-size: 60px;
    opacity: 0;
}
.p2:hover {
    opacity: 1;
}
.a3 {
    display:inline-block;
   width: 300px;
    height:300px;
    position: absolute;
    left: 950px;
    top: 240px;
    background-color: transparent;
 

}
.p3 {
    text-align: center;
   padding-top: 40%;
    font-size: 60px;
    opacity: 0;
}
.p3:hover {
    opacity: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10px;
    background-color: transparent;
    color: #eeeeee70;
    font-family: ocr;
  }
  a:link,
a:visited {
 
  text-decoration:none;
  color:#eeeeee70;
}



a:hover,
a:focus,
a:active {
  border:0;
  color:#fff;
  
}

a:visited:hover,
a:visited:focus,
a:visited:active {
  color:#fff;
  
}