@font-face {
  src: url(OCRAEXT.TTF);
  font-family: ocr;
}
body {
    background-image: url("img/main.png");
    background-repeat: no-repeat;
    background-size: cover;
}

a:link,
a:visited {
 
  text-decoration:none;
  color:#eeeeee;
}



a:hover,
a:focus,
a:active {
  border:0;
  color:#fff;
  
}

a:visited:hover,
a:visited:focus,
a:visited:active {
  color:#fff;
  
}

#container1 {
  width:350px;
 position: absolute;
 left: 60px;
 top: 70px;
  font-family: ocr;
  
}
#container2 {
  width:320px;
 position: absolute;
 left: 550px;
 top: 55px;
  font-family: ocr;
  
}
#container3 {
  width:310px;
 position: absolute;
 left: 1000px;
 top: 40px;
  font-family: ocr;
  
}


blockquote {
  margin:1em 0;
}

blockquote p {
  margin:0;
  font-size:3em;
}




/* ============================================================================================================================
== OVER THOUGHT BUBBLE, EMPTY, WITH BORDER (more CSS3)
** ============================================================================================================================ */

.oval-thought-border {
  position:relative;
  padding:70px 30px;
  margin:1em auto 80px;
  
  text-align:center;
  color:#eeeeee;
  background:transparent;
  opacity: 0;
  

  /* css3 */

  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}
.oval-thought-border:hover {
opacity: 1;
transition: .5s ease;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 10px;
  background-color: transparent;
  color: #eeeeee;
  font-family: ocr;
}