:root{
    --first: rgb: 0 0 0 0.3;
    --second: #000000;
    --third: rgb(224, 219, 219);
}

html {
    font-family: 'Courier New', Courier, monospace;
}
 
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*outline:  solid white 3px;*/
}
body {
     background-image: linear-gradient(200deg,rgb(29, 26, 32),rgb(49, 49, 68));
}

h1 {
    text-shadow: -6px 6px 8px rgba(0,0,0,0.85);
    color: rgb(187, 195, 214)
}
/*header*/

.heading h1 {
    font-size: 5.5vw;
    text-align: center;
    font-weight: 400;
    word-spacing: -25px;
    
}

.heading h2 {
    text-align: center;
        text-shadow: -6px 6px 8px rgba(0,0,0,0.85);
    color: #6abe75;
    font-size: 28px;
    margin-top: -40px;

}

.header{
    background-color: var(--first);
    width: 100%;
    position: absolute; 
    top: 0;
    z-index: 1;
    font-size: 15px;
}



.header ul{
    font-weight: 500;
    text-align: center;
    float: right;
    padding: 0;
    overflow: hidden;
    margin-top: -45px;
}


.header ul a{
    font-weight: 400;
    margin: 10px;
    display: block;
    padding: 10px 0;
    color: #a8a8a8;
    font-size: 25px;

}

.header ul a:hover{
    background-color: #bbbbc2;
    color:rgb(14, 13, 15) ;
    border-radius: 10px;
    transition: 0.5s;
}
.header .logo{
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 5px;
    color: var(--third);
}

.header {
    padding-left: 5px;
}

.header .logo span{
    font-size: 15px;
    margin-left: 0.9em;
    margin-bottom: 1em;
}

.header .navigation {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right ;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background: var(--third);
    display: block;
    height: 3px;
    width: 27px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: var(--third);
    content:"" ;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 10px;
}

.header .menu-icon .nav-icon::after{
    background: var(--third);
    content:"" ;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -9px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .navigation {
    max-height: 280px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg); 
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    margin-top: 3.5em;
  }

  .row1 {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      word-spacing: -4px;
  }
  
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 5%; /* IE10 */
    flex: 25%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
    text-align: center;
  }
  
  .container {
   
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #2a3364;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #1d2344;
  }
  
/*small tablet*/

@media (max-width: 800px) {
   .row1 {
       flex-direction: column;
       display: flex;
       flex-wrap: wrap;
   }

   .row {
       margin-top: 5em;
   }


.header ul{
    font-weight: 500;
    text-align: center;
    float: right;
    padding: 0;
    overflow: hidden;
    margin-top: -45px;
}

.header ul a {
    font-size: 15px;
}

.row {
    width: 90%;
}

.heading h1 {
    margin-top: 2em;
    font-size: 50px;
}

.heading h2 {
    font-size: 22px;
}

}

